* {
	margin: 0;
	padding: 0;
}

body {
	font: 100%/1 Helvetica, "Lucida Grande", arial, sans-serif;
}

/* @group App Structure */
section.page {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	width: 100%;
	height: 100%;
}

header {
	width: 100%;
}

section.main {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
}

section.main nav {
	display: -webkit-box;
	display: -moz-box;
	display: box;

}

section.main article {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
}

footer {
	height: 35px;
}
/* @end */
/* @group Top Level Design */
header {
	
}

header>nav {
	background: #333;
	color: #fefefe;
}

section.main {
	background: yellow;
}

section.main nav {
	border: 1px solid red;
	width: 200px;
}

section.main article {
	border: 1px solid blue;
}
/* @end */