/* CONSTANTES COULEURS

Bleus
	1 : rgb(193, 231, 253)
	2 : rgb(104, 186, 251)
	3 : rgb(31, 118, 238)
	4 : rgb(20, 85, 188)
	5 : rgb(13, 54, 115)
Verts
	1 : rgb(229, 245, 209)
	2 : rgb(177, 229, 122)
	3 : rgb(104, 176, 28)
	4 : rgb(51, 133, 20)
	5 : rgb(35, 91, 13)
Oranges
	1 : rgb(255, 246, 181)
	2 : rgb(251, 219, 109)
	3 : rgb(242, 149, 34)
	4 : rgb(233, 95, 29)
	5 : rgb(202, 46, 22)
Rouges
	1 : rgb(247, 206, 208)
	2 : rgb(241, 151, 156)
	3 : rgb(233, 57, 70)
	4 : rgb(201, 33, 22)
	5 : rgb(139, 23, 17)
Gris
	1 : rgb(238, 238, 238)
	2 : rgb(192, 192, 192)
	3 : rgb(108, 108, 108)
	4 : rgb(60, 60, 60)
	5 : rgb(38, 38, 38)

*/

* {
	margin: 0;
	padding: 0;
}

body {
	font: 100%/1 Helvetica, "Lucida Grande", arial, sans-serif;
	background: rgb(238, 238, 238);
}

h1,h2,h3,h4,h5,h6 {
	font-family: arial, helvetica, sans-serif;
}

h2 {
	font-size: 32px;
}

li {
	list-style-type: none;
}

button {
	vertical-align: middle;
}

/* @group App Structure */
section.page {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	width: 100%;
	height: 100%;
}

header {
	width: 100%;
}

section.main {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	text-shadow: 0 1px 0 rgb(255, 255, 255);
}

section.main nav {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	box-orient: vertical;

}

section.content {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	box-orient: vertical;
}

footer {
	height: 35px;
}
/* @end */
/* @group Top Level Design */
header {
	
}

header>nav {
	background: #333;
	color: #fefefe;
}

section.main {
}

section.main nav {
	width: 200px;
}

section.content>article {
	border: 1px solid blue;
}
/* @end */
/* @group header */
header>nav {
	text-align: right;
	font-size: 10px;
	color: rgb(238, 238, 238);
	text-transform: uppercase;
}

header>nav a, header>nav a:visited {
	color: rgb(238, 238, 238);
	text-decoration: none;
}

header>nav>form {
	display: inline-block;
	padding: 4px;
}

header>nav>form>p {
	display: inline-block;
	vertical-align: middle;
}

#logbox button {
	border: none;
	background: rgba(247, 206, 208, 0.3);
	padding: 1px 4px;
	text-transform: uppercase;
	font-size: 10px;
	color: rgb(247, 206, 208);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}

header>nav>form>#menu-user-prefs a {
	display: inline-block;
	background: rgba(193, 231, 253, 0.5);
	color: rgb(193, 231, 253);
	padding: 2px 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
header>nav>form #menu-user-prefs a:visited {
	color: rgb(193, 231, 253);
}

header>nav>form#bugreport {
	padding-left: 0;
}

header>nav>form#bugreport button {
	border: none;
	background: transparent;
	opacity: 0.65;
	cursor: pointer;
}

header>nav>form#bugreport button:hover {
	opacity: 1;
}

header>hgroup {
	padding: 5px;
	text-transform: uppercase;
}

header>hgroup>h1 {
	vertical-align: middle;
}
/* @end */
/* @group general menu design */
section.main nav {
	font-size: 12px;
	color: rgb(108, 108, 108);
}

section.main nav a, section.main nav a:visited {
	text-decoration: none;
	color: rgb(108, 108, 108);
	display: block;
	padding: 4px 4px;
	margin: 0 5px 2px;
}

section.main nav a:hover {
	background: rgba(192, 192, 192, 0.2);
}

nav>.global_nav {
	margin-top: 10px;
}

nav>.app_tools {

}

section.main nav hr {
	margin: 5px;
	border: 1px inset rgba(235, 235, 235, 0.5);
	color: rgb(108, 108, 108);
	height: 1px;
}
/* @end */












